# .env file
.env

# sqlite
db.sqlite3

# python compiled
*.pyc
django.log

# virtual environment
venv/

# VSCode settings
.vscode/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
